--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu

# Core API Framework
fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
python-dotenv==1.0.1
prometheus-client==0.21.0

# Data & ML Utilities (Required for ml/ and llmops/ modules)
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2
xgboost==1.7.6

# MLOps & Model Serving
mlflow==3.0.1

# LLM, Embeddings & Vector DB
langchain-huggingface==0.1.2
langchain-chroma>=0.1.4

chromadb==0.5.15
huggingface-hub==0.26.2
groq>=0.9.0